/* ============ COMMON STYLES ============ */
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #FAFAFA;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-bottom: 60px;
}

.container {
    padding: 0 16px;
}
/* ============ /COMMON STYLES ============ */


/* ============ MOBILE HEADER STYLES ============ */
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 14px;
}

.logotype {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.03em;
}

.logotype-icon {
    margin-left: 4px;
}

.menu-list-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111111;
}

.menu-list {
    display: none;
}

.social-list {
    display: none;
}

.mobile-menu-btn {
    border: none;
    padding: 0;
    line-height: 0;
    color: transparent;

}

.mobile-menu-icon {
    stroke: #111111;
}
/* ============ /MOBILE HEADER STYLES ============ */

@media screen and (min-width: 367px) {
    .container {
        max-width: 367px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding-bottom: 80px;
    }

    .container {
        max-width: 704px;
    }
    
}


@media screen and (min-width: 1200px) {
    .section {
        padding-bottom: 100px;
    }

    .container {
        max-width: 1136px;
    }
    
}